<!-- About Section -->
<section id="about" class="container content-section text-center">

    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
             <h2>关于这个网站的结构</h2>
             <hr>
          <p>你所在的是我的小网站的<a href="{{site.siteurl}}">主页</a>.<br>
            网站主要分成两个大部分,一个是主页介绍一些信息,另一个部分作为博客使用.</p>
            <p>您还可以通过我的QQ比如<a href="tencent://QQInterLive/?Cmd=2&Uin=5414718">这个</a>或是我的<a href="http://cc.163.com/231636318" >CC直播间</a>来关注我,
              <br>
              同时我还有微信公众号:我家有个逆水矿(做个二维码)<br>
              希望您能喜欢它并且让我给你带来快乐!
            </p>
            <p>网站是用github免费仓库托管的,由于域名解析失败,暂时无法更换域名. </p>
            <br>
            <a href="#download" class="btn btn-circle page-scroll">
                <i class="fa fa-angle-double-down animated"></i>
            </a>
            <br>
            <br>
        </div>
    </div>

</section>
