    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                 <h2>关于我的网站</h2>

              <p>这是我们社区的<a href="http://sickpoet.github.io">主页</a>.这里能让你懂得,与人交流是很快乐的事情.</p>
                <p>我的QQ比如<a href="tencent://QQInterLive/?Cmd=2&Uin=5414718">这个</a></p>
                <p>这里有很多故事等着你们来讲述,以后有机会要常来看看提出意见,或者去我的<a href="https://user.qzone.qq.com/844621257">空间</a>留言. </p>

            </div>
        </div>
    </section>
