    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                 <h2>关于我的网站和故事</h2>

                <!-- <p>我或许是个不善于交流的人，但是我<a href="http://sickpoet.github.io">个人的主页</a>.能够告诉你们,我喜欢与人交流.</p>
                <p>我有很多QQ比如<a href="tencent://QQInterLive/?Cmd=2&Uin=5414718">这个</a></p>
                <p>我有很多故事讲给你们听,以后有机会要常来看看,或者去我的<a href="https://user.qzone.qq.com/844621257">空间</a>. </p>  -->

            </div>
        </div>
    </section>
