<link rel="shortcut icon" href="/favicon.ico">
<link href="/atom.xml" rel="alternate" title="{{ site.name }}" type="application/atom+xml" />
<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Average+Sans:400"/>
<link rel="stylesheet" href="{{ site.siteurl }}/css/bootstrap.css">
<link rel="stylesheet" href="{{ site.siteurl }}/css/typo.css">
<link rel="stylesheet" href="{{ site.siteurl }}/css/main.css">
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.4/styles/github.min.css">
