    <!-- Download Section -->
    <section id="download" class="content-section text-center">
        <div class="download-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">

                    <h2>若我真的很丑</h2>
                    <p>那么我允许你打死<a href="https://www.baidu.com/s?wd=%E7%94%B0%E5%85%B0%E5%84%BF%E5%AD%90&f=12&rsp=0&oq=%E7%94%B0%E5%85%B0erzi&ie=utf-8&rsv_pq=a0825ecf0000602e&rsv_t=fe8559pFPLg3wFUg6XDT9Bfapwbs8p1YpiOEW5XLzyVFQR7MtaUmXdN5P1A&rqlang=cn">田兰</a>,他是我的室友,也是我们的儿子.</p>
                    <h2>如果我没有比较好看</h2>
                    <p>那么我允许你打死田兰,他是我的室友,也是我们的儿子.</p>
                    <a href="http://sighttp.qq.com/msgrd?v=3&uin=1044931209%E5%8F%B7&site=&menu=yes" class="btn btn-default btn-lg">这里可以找到他</a>
                </div>
            </div>
        </div>
    </section>
