    <!-- Download Section -->
    <section id="download" class="content-section text-center">
        <div class="download-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">

                    <h2>若你觉得这个主页真的很丑</h2>
                    <p>请记住电脑有Ctrl+F4并且还有Ctrl+w关闭标签 <br>
                      这是<a  target="_blank" href="https://www.baidu.com/s?wd=%E7%94%B0%E5%85%B0%E5%84%BF%E5%AD%90&f=12&rsp=0&oq=%E7%94%B0%E5%85%B0erzi&ie=utf-8&rsv_pq=a0825ecf0000602e&rsv_t=fe8559pFPLg3wFUg6XDT9Bfapwbs8p1YpiOEW5XLzyVFQR7MtaUmXdN5P1A&rqlang=cn">
                        田兰</a>,他是我的室友,也是许多人的儿子.</p>
                    <a href="tencent://QQInterLive/?Cmd=2&Uin=1044931209" class="btn btn-default btn-lg">这里可以找到他</a>
                </div>
            </div>
        </div>
    </section>
