<!-- Download Section -->
<section id="download" class="download content-section text-center">
    <div class="download-body">
        <div class="container">
            <div class="col-md-8 col-md-offset-2">
                    <p>主页正在逐步美化中,但是由于github的访问存在问题, <br>
                      为了减少加载时间,必要删除了一些功能, <br>
                      使它加载得更快,更优秀.</p>
                    <p>未来打算加入一些分享照片,图片的功能. <br>
                      这是<a class="input-Btn" style="color:red" target="_blank" href="https://www.baidu.com/s?wd=%E7%94%B0%E5%85%B0%E5%84%BF%E5%AD%90&f=12&rsp=0&oq=%E7%94%B0%E5%85%B0erzi&ie=utf-8&rsv_pq=a0825ecf0000602e&rsv_t=fe8559pFPLg3wFUg6XDT9Bfapwbs8p1YpiOEW5XLzyVFQR7MtaUmXdN5P1A&rqlang=cn">
                        田兰</a>,他是一个非常可爱的人.</p>
                    <a href="tencent://QQInterLive/?Cmd=2&Uin=1044931209" class="btn btn-default btn-lg">添加他的QQ</a>
                </div>
            </div>
            <br>
            <br>
            <a href="#contact" class="btn-down btn btn-circle page-scroll">
                <i class="fa fa-angle-double-down animated"></i>
            </a>
    </div>

</section>
