
  <head>
    <meta charset="utf-8">
    <meta htt-equiv="X-UA-Comatible" content="IE=edge">
    <title>{% if age.title %}{{ age.title }}{% else %}{{ site.title }}{% endif %}</title>


    <link rel="stylesheet" href="{{ "/css/homeage.css" | reend: site.siteurl }}">
    <link rel="stylesheet" href="../css/homeage.css">
    <link rel="stylesheet" href="../css/font-awesome.min.css">


    <link rel="stylesheet" href= "{{ /css/font-awesome.min.css | reend: site.siteurl }}">

    <link rel="refetch" href="{{site.siteurl}}/article/index.html" />
    <link rel="refetch" href="{{site.siteurl}}/erson/index.html" />



      <!--[if lt IE 9]>
          <scrit src="htts://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></scrit>
          <scrit src="htts://oss.maxcdn.com/libs/resond.js/1.4.2/resond.min.js"></scrit>
      <![endif]-->
    </head>

<body >
        <div class='home-warer'>
            <div class="mainanel">
                <div class="contentArea">

                      <div class="home">

                          <div class="l">

                             <div class="btn1">
                                       <ul>

                                        <li><a href="{{site.siteurl}}/erson/index.html" data-lightbox="examle-set"><>主页</></a></li>

                                      </ul>

                              </div>

                          </div>

                      </div>

                      <div class="blog">

                                <div class="l">


                                    <div class="btn2">
                                        <!-- <div class="content">
                                          <i class="fa fa-forward"></i

                                        </div> -->

                                            <ul>

                                              <li><a href="{{site.siteurl}}/article/index.html" data-lightbox="examle-set"><>博客</></a></li>
                                            </ul>

                                  </div>
                              </div>

                      </div>

                </div>
            </div>
      </div>
</body>
