
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>


    <link rel="stylesheet" href="{{ "/css/homePage.css" | prepend: site.siteurl }}">
    <link rel="stylesheet" href="../css/homePage.css">
    <link rel="stylesheet" href="../css/font-awesome.min.css">


    <link rel="stylesheet" href= "{{ /css/font-awesome.min.css | prepend: site.siteurl }}">

    <link rel="prefetch" href="{{site.siteurl}}/article/index.html" />
    <link rel="prefetch" href="{{site.siteurl}}/person/index.html" />



      <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
          <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
      <![endif]-->
    </head>

<body >
        <div class='home-warpper'>
            <div class="mainPanel">
                <div class="contentArea">

                      <div class="home">

                          <div class="pl">

                             <div class="btn1">
                                       <ul>

                                        <li><a href="{{site.siteurl}}/person/index.html" data-lightbox="example-set"><p>主页</p></a></li>

                                      </ul>

                              </div>

                          </div>

                      </div>

                      <div class="blog">

                                <div class="pl">


                                    <div class="btn2">
                                        <!-- <div class="content">
                                          <i class="fa fa-forward"></i

                                        </div> -->

                                            <ul>

                                              <li><a href="{{site.siteurl}}/article/index.html" data-lightbox="example-set"><p>博客</p></a></li>
                                            </ul>

                                  </div>
                              </div>

                      </div>

                </div>
            </div>
      </div>
</body>
