<!-- Intro Header -->
<header id="intro" class="intro  content-section text-center">
    <div class="intro-body">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <h1 class="brand-heading">{{ site.title }}</h1>
                    <!-- <iframe frameborder="no" border="0" marginwidth="0" marginheight="0" width=330 height=86 src="//s3.music.126.net/web/s/core_a8c03f44e0696d6371dd621a8587a9d6.js?a8c03f44e0696d6371dd621a8587a9d6"></iframe> -->
                    <p class="intro-text">{{ site.description }}<br>
                    <a href="#about" class="btn-down btn btn-circle page-scroll">
                        <i class="fa fa-angle-double-down animated"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>

</header>
